<!-- <p>menu works!</p> -->
<div class="navbar-nav w-100">
    <a class="nav-item nav-link" routerLink="/home" routerLinkActive="active">Home</a>
    <a class="nav-item nav-link" routerLink="/products" routerLinkActive="active">Products</a>
    <a class="nav-item nav-link" routerLink="/admin" routerLinkActive="active">Admin</a>
    <a *ngIf="!loginOrUser()" class="nav-item nav-link login" routerLink="/login" routerLinkActive="active">Login</a>
    <span *ngIf="loginOrUser()" class="nav-item nav-link login">{{username}}
            <a (click)="logOut()" routerLink="/">Log out</a>
        </span>
    <a class="nav-item nav-link shoper" routerLink="/shoper" routerLinkActive="active">
        <img src="../../../assets/img_208967.png" alt="Shoper" class="img-svg">
        <div class="prodCount">
            {{countProd()}}
        </div>
    </a>
</div>